body {
  color: #E2E2E2;
  background-color: #303030;
}

strong {
  color: #F2F2F2;
}

a {
  color: #92caff;
}

a:hover {
  color: #acd7ff;
}

.back-to-top {
  background: #7f75b6;
}

.back-to-top i {
  color: #303030;
}

.back-to-top:hover {
  background: #7f75b6;
}

#preloader {
  background: #303030;
}

#preloader:before {
  border: 6px solid #7F75B9;
  border-top-color: #303030;
  border-bottom-color: #303030;
}

@media (max-width: 992px) {
  #header {
    background: #303030;
    border-right: 1px solid #404040;
  }
}

.nav-menu a,
.nav-menu a:focus {
  color: #F2F2F2;
  background: #303030;
}

.nav-menu a span,
.nav-menu a:focus span {
  color: #F2F2F2;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #303030;
  background: #7f75b6;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #303030;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  color: #303030;
}

#trip-viewer-text {
  color: #7f75b6;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

#trip-viewer-text {
  color: #7f75b6;
}

.mobile-nav-toggle i,
.custom-nav-toggle i {
  color: #F2F2F2;
}

.mobile-nav-active .mobile-nav-toggle {
  background-color: #7f75b6;
}

#hero {
  background: url("https://firebasestorage.googleapis.com/v0/b/trip-viewer-tcc.appspot.com/o/config%2Fbackgrounds%2Fhome-dark.jpg?alt=media&token=be82fea2-a1fb-4012-80e3-f3c9d93b2e85") top center no-repeat;
}

#hero h1 {
  color: #F2F2F2;
}

#hero p {
  color: #F2F2F2;
}

#hero p span {
  color: #7f75b6;
}

#hero .social-links a {
  color: #F2F2F2;
}

#hero .social-links a:hover {
  color: #7f75b6;
}

.section-title h2 {
  color: #909090;
}

.section-title h2::before {
  background: #A6A6A6;
}

.section-title h2::after {
  background: #7f75b6;
}

.about .content ul i {
  color: #7f75b6;
}

.facts .count-box,
.about .count-box {
  background: #303030;
}

.facts .count-box i,
.about .count-box i {
  background: #7f75b6;
  color: #303030;
}

.facts .count-box span,
.about .count-box span {
  color: #E2E2E2;
}

.transpStayBox {
  background-color: #a5a5a5;
}

.skills .progress .skill,
.about .progress .skill {
  color: #F2F2F2;
}

.skills .progress-bar-wrap,
.about .progress-bar-wrap {
  background: #303030;
}

.skills .progress-bar,
.about .progress-bar {
  background-color: #7f75b6;
}

#tabela {
  background-color: #303030;
}

#calendar {
  color: #E2E2E2;
  background-color: #303030;
  border: 0.5px solid #414040;
}

#calendarTitle {
  background: #7f75b6;
  color: #303030;
}

#tabHeader {
  background-color: #3b3b3b;
  color: white;
  border: 0.5px solid #414040;
}

.linHeader {
  background: #414040;
}

.linItem {
  border: 0.5px solid #414040;
}

#prog {
  background: #414040;
}

#progTitle,
#progClose {
  color: white;
}

#progHorarioM,
#progHorarioT,
#progHorarioN {
  color: white;
}

.resume .resume-title {
  color: #909090;
}

.resume .resume-item {
  border-left: 2px solid #7f75b6;
}

.resume .resume-item h4 {
  color: #E2E2E2;
}

.resume .resume-item h5 {
  background: #404040;
}

.resume .resume-item::before {
  background: #303030;
  border: 2px solid #404040;
}

#portfolio-flters {
  background: #303030;
}

#portfolio-flters li {
  color: #F2F2F2;
}

#portfolio-flters li:hover,
#portfolio-flters li.filter-active {
  color: #7f75b6;
}

.portfolio-wrap::before {
  background: rgba(48, 48, 48, 0.7);
}

.portfolio-wrap .portfolio-info::before {
  border-top: 3px solid #4F5051;
  border-left: 3px solid #4F5051;

}

.portfolio-wrap .portfolio-info::after {
  border-bottom: 3px solid #4F5051;
  border-right: 3px solid #4F5051;
}

.portfolio-wrap .portfolio-info h4 {
  color: #d7dce1;
}


.portfolio-wrap .portfolio-info h4 {
  color: #F2F2F2;
}

.portfolio-wrap .portfolio-info p {
  color: #F2F2F2;
}

.portfolio-wrap .portfolio-links a {
  color: #F2F2F2;
}

.portfolio-wrap .portfolio-links a:hover {
  color: #7f75b6;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  background-color: #303030;
  border: 1px solid #7f75b6;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #7f75b6;
}
.services .icon-box {
  color: #E2E2E2;
  background: #303030;
  box-shadow: 0px 5px 90px 0px rgba(166, 166, 166, 0.05);
}

.services .icon-box h4 a {
  color: #F2F2F2;
}

.testimonials .testimonial-item .testimonial-img {
  border: 4px solid #303030;
}

.testimonials .testimonial-item h3 {
  color: #E2E2E2;
}

.testimonials .testimonial-item h4 {
  color: #A6A6A6;
}

.testimonials .testimonial-item h5 {
  color: #909090;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  background-color: #303030;
  border: 1px solid #7f75b6;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #7f75b6;
}

.contact .info {
  background: #303030;
}

.contact .info i {
  color: #7f75b6;
  background: #303030;
}

.contact .info h4 {
  color: #F2F2F2;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #7f75b6;
}

.php-email-form {
  background: #303030;
}

#botao,
#botao-right,
#botao-salvar {
  background: #7f75b6;
}

#botao:hover,
#botao-right:hover,
#botao-salvar:hover {
  background: #7f75b6;
}

#circulo,
#circulo-mini {
  background: #303030;
  color: #7f75b6;
}

#circulo:hover,
#circulo-mini:hover {
  background: #7f75b6;
}

#subject,
#destinos-select {
  background: #404040;
  color: #F2F2F2;
}

#footer {
  background: #404040;
  color: #F2F2F2;
}

#footer .social-links a {
  background: #7f75b6;
  color: #303030;
}

#footer .social-links a:hover {
  background: #7f75b6;
}

.message-container {
  background: #303030;
}

.error-message {
  color: #ADADAD;
}

#previous, #next {
  background-color: #7f75b6;
}

.calendarTrip {
  background-color: #3b3b3b !important;
  color: #fff;
}

.calendarTrip:hover,
.calendarTrip:active {
  background-color: #7f75b6 !important;
  color: #303030;
}

.calendarDisabled {
  color: #595959;
}

.mobile-nav-toggle:hover, .custom-nav-toggle:hover {
  color: #aaaaaa;
}

.modal {
  background-color: rgba(48, 48, 48, 0.8);
}

.modal-content {
  background-color: #303030;
}

.btn-purple {
  background: #7f75b6;
}

.btn-purple:hover {
  background: #7367b4;
}

.flight-box {
  border: 0.5px solid #414040;
  color: #E2E2E2;
  background-color: #303030;
}

.flight-title {
  border-bottom: 0.5px solid #414040;
}

.flight-line {
  color: #414040;
}

.flight-icon {
  color: #7367b4;
}

.hotel-box {
  color: #E2E2E2;
  border: 0.5px solid #414040;
}

.hotel-img {
  background-color: #a5a5a5;
}
.hotel-title {
  border-bottom: 0.5px solid #414040;
}

.external-link {
  color: #92caff;
}