:root {
    --roxo: #5859a7;
}

.button-box,
.button-box-right {
    text-align: right;
}

.btn-format {
    margin: 5px;
}

.btn-format:first-child {
    margin-left: 0;
}

.btn-format:last-child {
    margin-right: 0;
}

.icon-buttons {
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin: 0 7px 0 7px;
}

.btn-basic {
    border-width: 2px;
    border-style: solid;
    border-color: var(--roxo);
    color: var(--roxo);
    background: none;
}

.btn-purple,
.btn-basic:hover,
.btn-basic:focus {
    background: var(--roxo);
    color: #fff;
}

.btn-purple:hover,
.btn-purple:focus {
    background: #505197;
    color: #fff;
}