body {
  color: #E2E2E2;
}

strong {
  color: #F2F2F2;
}

#preloader {
  background: #303030;
}

#preloader:before,
#preloader-viagens:before,
#preloader-destinos:before,
#preloader-listagens:before {
  border: 6px solid #7F75B9;
  border-top-color: #404040;
  border-bottom-color: #404040;
}

#preloader:before {
  border-top-color: #303030;
  border-bottom-color: #303030;
}

.top-bar {
  background-color: #303030;
  border-bottom: 0.5px solid #383838;
}

#trip-viewer-text {
  color: #7f75b6;
}

#hero:before {
  background: rgba(48, 48, 48, 0.8);
}

#hero h1 {
  color: #E2E2E2;
}

#hero p {
  color: #E2E2E2;
}

#hero p span {
  color: #7f75b6;
}

#hero .social-links a {
  color: #F2F2F2;
}

#hero .social-links a:hover {
  color: #7f75b6;
}

.section-title h2 {
  color: #909090;
}

.section-title h2::before {
  background: #A6A6A6;
}

.section-title h2::after {
  background: #7f75b6;
}

#footer {
  background: #404040;
  color: #F2F2F2;
}

#footer .social-links a {
  background: #7f75b6;
}

#footer .social-links a:hover {
  background: #7f75b6;
}

.message-container {
  background: #303030;
}

.error-message {
  color: #ADADAD;
}

.content-box {
  background-color: #303030;
  color: #E2E2E2;
}

@media (max-width: 600px) {
  .content-box {
    background-color: rgba(48, 48, 48, 0.80);
  }
}

.index-title {
  color: #F2F2F2;
}

.login-item {
  color: #F2F2F2;
  border: 0.5px solid #383838;
  background: #404040;
}

.login-item:hover, .login-item:focus {
  background: rgb(68, 68, 68);
}

.content-list {
  background: #404040;
  border: 0.5px solid #383838;
}

#settings-account {
  background: #404040;
  border: 0.5px solid #383838;
}

#settings-account-picture {
  border: 1px solid #383838;
  background: #404040;
}

#logged-menu {
  background: #404040;
  border: 0.5px solid #383838;
}

#trip-view-input {
  background: #404040;
  border: 0.5px solid #383838;
  color: #F2F2F2;
}

.user-data-icon:hover,
.index-buttons:hover,
.custom-nav-toggle:hover,
.logged-menu-item:hover,
.back:hover {
  color: #c7c6c6;
}

.user-data-item {
  border-bottom: 0.5px solid #383838;
}

.user-data-item-date {
  color: #767676;
}

.modal {
  background-color: rgba(48, 48, 48, 0.8);
}

.modal-content {
  background-color: #303030;
}

.btn-purple {
  background: #7f75b6;
}

.btn-purple:hover {
  background: #7367b4;
}