@font-face {
  font-family: 'Chelos';
  src: url('../../fonts/Chelos\ Free.ttf') format('truetype');
}

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  transition: all 0.3s;
}

strong {
  color: #3A3838;
}

a,
.link {
  color: #3d85c6;
  text-decoration: none;
}

a:hover,
.link:hover {
  color: #195b96;
  text-decoration: none;
}

.link {
  cursor: pointer;
  font-size: 25px;
}

.links-container {
  display: flex;
  margin-top: 7.5px;
}

.links-container .iconify {
  margin-left: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #5859a7;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

.btn {
  text-decoration: none;
  font-weight: bold;
  color: #3A3838;
}

.btn:hover {
  color: #3A3838;
}

.card-header {
  width: 425px;
  float: left;
  border-bottom: none;
  background-color: #F9F9F9;
}

.embed {
  margin-top: 16px;
}

.youtube-embed {
  width: 458px;
  height: 258px;
}

.spotify-embed {
  width: 100%;
  height: 400px;
}

.subtitle {
  font-weight: bold;
  font-size: 18px;
}

.score {
  color: #404040;
  width: 73px;
  float: left;
  font-weight: bold;
  font-size: 15px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-left: 1px solid #DADADA;
}

.details {
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  color: #595959;
}

.card-body {
  background: #fff;
  color: #595959;
  border-top: 1px solid #DADADA;
}

@media screen and (max-width: 600px) {
  .card-header {
    width: 325px;
  }

  .youtube-embed {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {

  .headerP {
    white-space: nowrap;
  }

  .card-header {
    width: 225px;
  }

  .btn {
    padding-left: none;
    margin-left: -16px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #4F5051;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #4F5051;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background: #5859a7;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/

.top-bar {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 60px;
  border-bottom: 0.5px solid #D9D9D9;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
}

#logo-light,
#logo-dark {
  height: 25px;
  margin-left: 20px;
}

#trip-viewer-text {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 7px;
  font-family: Chelos;
  color: #5859a7;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #4F5051;
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin-bottom: 20px;
  margin-top: -20px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #5859a7;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #5859a7;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

.pessoa-img {
  width: 36px;
  height: 36px;
}

.icons-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-buttons {
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin: 0 7px 0 7px;
}

.accordion-item {
  background-color: #fff;
  color: #272829;
  width: 500px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 550px) {
  .accordion-item {
    width: 90%;
  }
}

.accordion-header {
  background-color: #f1f1f1;
  color: #1f2937;
  border-radius: .75rem;
}

.accordion-button[aria-expanded="false"] {
  background-color: #f1f1f1;
  color: #1f2937;
}

.accordion-button[aria-expanded="true"] {
  background-color: #f1f1f1;
  color: #1f2937;
}

.accordion-button:focus {
  /* box-shadow: 0 0 0 0.3rem rgba(88, 89, 167, 0.25); */
  box-shadow: none;
}

.title-text {
  flex-grow: 1;
  font-weight: bold;
}

.new {
  fill: #5859a7;
  margin-right: 10px;
  font-size: 20px;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235859a7'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.nota,
.nota-sem-margem {
  font-size: 25px;
  color: #1f2937;
  margin-right: 10px;
  border-radius: 50%;
  padding: 3px;
}

.nota-sem-margem {
  margin-right: 0;
}

.notas-box {
  display: block;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 20px;
}

.nota-texto {
  color: #4F5051;
  font-weight: bold;
  margin-right: -5px;
}

.nota-5 {
  background-color: #CFE2F3;
}

.nota-4 {
  background-color: #D9EAD3;
}

.nota-3 {
  background-color: #FFF2CC;
}

.nota-2 {
  background-color: #FCE5CD;
}

.nota-1 {
  background-color: #F4CCCC;
}

.nota-ausente {
  background-color: #ead1dc;
}

.accordion-body {
  padding: 20px;
}

.destinos-titulo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 0.5px solid #D9D9D9;
}

.destinos-nome {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.external-link {
  color: #3d85c6;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.destinos-address {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.color-icon {
  font-size: 20px;
  color: #505197
}

.destinos-descricao {
  margin-top: 20px;
  margin-bottom: 20px;
}

.destinos-topicos-box {
  margin-bottom: 10px;
  font-size: 16px;
}

.destinos-topico {
  margin-top: 4px;
  margin-bottom: 4px;
}

.data-lineup {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  color: #4F5051;
  text-align: center;
}

.data-box {
  margin-top: 50px;
}

.data-box:first-child {
  margin-top: 0;
}

.tiktok-embed-v2 {
  width: 100%;
  height: 750px;
}

.tiktok-embed-v3 {
  margin-top: 20px;
  width: 239.06px;
  height: 425px;
}