:root {
  --theme-color: #7f75b6;
  --theme-color-secondary: #D5D6E9;
  --font-color: #E2E2E2;
  --box-color: #404040;
  --box-color-hover: #444444;
  --border-color: #ccc;
  --border-color-alt: #383838;
  --background-color: #303030;
}
body {
  color: var(--font-color);
  background: var(--background-color);
}

strong {
  color: #F2F2F2;
}

a:hover {
  color: #78a4ca;
  text-decoration: none;
}

.destinos-select  {
  color: #A6A6A6;
}

.destinos-select::before {
  background: #A6A6A6;
}

.destinos-select::after {
  background: var(--theme-color);
}

.destinos-select .dropdown{
  background: var(--box-color);
  border: 1px solid var(--border-color-alt);
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.destinos-select .dropdown .option {
  color: var(--font-color);
}

.destinos-select .option:hover {
  background: #505050;
}

.map-iframe {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
}

.accordion {
  color: #A6A6A6;
}

.btn {
  color: var(--font-color);
}

.btn:hover {
  color: #F2F2F2;
}

.card-header {
  background-color: var(--box-color);
}

.score {
  color: #e6e9ec;
  width: 73px;
  float: left;
  font-weight: bold;
  font-size: 15px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-left: 1px solid #404040;
}

.details {
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  color: #595959;
}

.card-body {
  background: var(--box-color);
  color: #DADADA;
}

.nav-menu a,
.nav-menu a:focus {
  color: #F2F2F2;
  background: var(--background-color);
}

.nav-menu a span,
.nav-menu a:focus span {
  color: #F2F2F2;
}

@media (min-width: 992px) {
  .nav-menu a span,
  .nav-menu a:focus span {
    color: #303030;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #303030;
  background: var(--theme-color);
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #303030;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #303030;
}

.top-bar {
  background-color: var(--background-color);
  border-bottom: 0.5px solid #383838;
}

#trip-viewer-text {
  color: var(--theme-color);
}

.mobile-nav-toggle i,
.custom-nav-toggle i {
  color: #F2F2F2;
}

.mobile-nav-active .mobile-nav-toggle {
  background-color: var(--theme-color);
}

#footer {
  color: #F2F2F2;
}

.atribuicoes:hover {
  color: #d1d0d0;
}

#footer .social-links a {
  background: var(--theme-color);
  color: #303030;
}

#footer .social-links a:hover {
  background: var(--theme-color);
}

.accordion-item {
  background-color: var(--background-color);
  color: var(--font-color);
}

.accordion-header {
  background-color: var(--box-color);
  color: #f1f1f1;
  border-radius: .75rem;
}

.accordion-button {
  background-color: var(--box-color);
  color: #f1f1f1;
}

.accordion-button[aria-expanded="true"] {
  background-color: var(--box-color);
  color: #f1f1f1;
}

.new {
  fill: var(--theme-color);
}

.planejado {
  color: #f1f1f1;
}

.nota-texto {
  color: #F2F2F2;
}

.destinos-titulo {
  border-bottom: 0.5px solid #383838;
}

.external-link {
  color: #78a4ca;
}

.color-icon {
  color: var(--theme-color)
}

.data-lineup {
  color: #F2F2F2;
}

.mobile-nav-toggle:hover, .custom-nav-toggle:hover {
  color: #aaaaaa;
}

.filter-sort {
  border: 1px solid var(--border-color-alt);
}

.drawer-header {
  border-bottom: 1px solid #383838;
}

.option-btn {
  border: 1px solid var(--border-color-alt);
  background: var(--box-color);
}

.option-btn:hover,
.option-btn.active {
  background: var(--theme-color-secondary);
}

/* Language Selector */

.lang-selector {
  position: relative;
}

.lang-button {
  color: #F2F2F2;
}

.lang-options {
  background: #303030;
  border: 1px solid #404040;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.lang-options button {
  color: #F2F2F2;
}

.lang-options button:hover {
  background: #3b3b3b;
}