:root {
	--theme-color: #7f75b6;
	--theme-color-hover: #7367b4;
	--theme-color-secondary: #494852;
	--subtitle: #e3ecf8;
	--box-color: #343434;
	--box-color-hover: #444444;
	--border-color: #383838;
	--text-color: #e2e2e2;
}

body {
	color: var(--text-color);
	background: #303030;
}

a {
	color: #92caff;
}

.top-bar {
	background-color: #303030;
	border-bottom: 0.5px solid #383838;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	color: #f2f2f2;
}

.atribuicoes:hover {
	color: #d1d0d0;
}

input[type="radio"]:checked + label > .notification {
	background-color: var(--theme-color);
	color: #fff;
}

h1 {
	color: #909090;
}

.section-title h1::before {
	background: #a6a6a6;
}

.preloader {
	background: #303030;
}

.preloader:before {
	border: 6px solid var(--theme-color);
	border-top-color: #303030;
	border-bottom-color: #303030;
}

.btn-theme,
.btn-basic:hover,
.btn-basic:focus {
	background: var(--theme-color);
}

.btn-theme:hover,
.btn-theme:focus {
	background: var(--theme-color-hover);
}

.message-container,
.input-container {
	background: #303030;
}

.lang-selector {
	position: relative;
}

.lang-button {
	color: #f2f2f2;
}

.lang-options {
	background: #303030;
	border: 1px solid #404040;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.lang-options button {
	color: #f2f2f2;
}

.lang-options button:hover {
	background: #3b3b3b;
}

.pin-input {
	border: 1px solid #414040;
	background: #3b3b3b;
	color: var(--text-color);
}

.pin-input-invalid {
	color: #ffffff;
	background: #463838;
	border-color: #403434;
}

.pin {
	color: #ffffff;
}

#toast {
	color: #303030;
}

/*--------------------------------------------------------------
# Mobile Navigation Menu - Dark Mode
--------------------------------------------------------------*/

#header {
	background: #303030;
	border-right: 1px solid #404040;
}

.nav-menu a,
.nav-menu a:focus {
	color: #f2f2f2;
	background: #3b3b3b;
}

.nav-menu a span,
.nav-menu a:focus span {
	color: #f2f2f2;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
	color: #303030;
	background: var(--theme-color);
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
	color: #303030;
}

.mobile-nav-toggle i {
	color: #f2f2f2;
}

.mobile-nav-active .mobile-nav-toggle {
	background-color: var(--theme-color);
	color: #303030;
}

.mobile-nav-toggle:hover {
	color: #aaaaaa;
}

#trip-viewer-text {
	color: var(--theme-color);
}

#menu {
	color: var(--text-color);
}
