body {
  color: #E2E2E2;
}

strong {
  color: #F2F2F2;
}

#preloader {
  background: #303030;
}

#preloader:before {
  border: 6px solid #7F75B9;
  border-top-color: #303030;
  border-bottom-color: #303030;
}

.top-bar {
  background-color: #303030;
  border-bottom: 0.5px solid #383838;
}

#trip-viewer-text {
  color: #7f75b6;
}

#hero:before {
  background: rgba(48, 48, 48, 0.8);
}

#hero h1 {
  color: #E2E2E2;
}

#hero p {
  color: #E2E2E2;
}

#hero p span {
  color: #7f75b6;
}

#hero .social-links a {
  color: #F2F2F2;
}

#hero .social-links a:hover {
  color: #7f75b6;
}

.nice-form-group {
  --nf-input-color: #E2E2E2;
  --nf-input-placeholder-color: #a3a3a3;
  --nf-input-border-color: #383838;
  --nf-input-focus-border-color: #7f75b6;
  --nf-input-background-color: #404040;
  --nf-label-color: #E2E2E2;
  --nf-slider-track-background: #303030;
  --nf-slider-thumb-border-color: #303030;
}

.nice-form-group>input[type=file], .upload-box  {
  background: rgba(0, 0, 0, .025);
}

.demo-page .demo-page-navigation nav {
  background: #303030;
}

.demo-page .demo-page-navigation a {
  color: #E2E2E2;
}

.demo-page .demo-page-navigation a:hover {
  background: #404040
}

.demo-page .demo-page-navigation a svg {
  color: #E2E2E2;
}

.to-reset {
  background: #7f75b6
}

.to-reset:hover {
  background: #665e94
}

section {
  background: #303030;
}

section h1 {
  color: #fff;
}

section strong {
  color: #fff
}

section p a {
  color: #7f75b6
}

section code {
  background: #303030;
}

details {
  background: #303030;
}

details .toggle-code {
  background: #7f75b6;
  color: #E2E2E2;
}

details .toggle-code:hover {
  background: #665e94
}

#footer {
  background: #404040;
  color: #F2F2F2;
}

#footer .social-links a {
  background: #7f75b6;
}

#footer .social-links a:hover {
  background: #7f75b6;
}

.message-container {
  background: #303030;
}

.error-message {
  color: #ADADAD;
}

.item-box {
  background: #303030;
}

.button-box-formatted {
  background: #404040;
}

#double-button-section{
  background: #404040;
}

.btn-basic {
  border-color: #E2E2E2;
  color: #E2E2E2;
}

.btn-purple,
.btn-basic:hover, 
.btn-basic:focus {
  background: #7f75b6;
  color: #E2E2E2;
}

.btn-purple:hover,
.btn-purple:focus {
  background: #665e94;
}

.demo-page, .demo-page-navigation, #dark-mode {
  color: #E2E2E2;
}

.accordion-item {
  background-color: #303030;
}

.accordion-header {
  background-color: #404040;
  color: #E2E2E2;
}

.accordion-body {
  background-color: #303030;
  color: #E2E2E2;
}

.accordion-button[aria-expanded="false"] {
  background-color: #404040;
  color: #E2E2E2;
}

.accordion-button[aria-expanded="true"] {
  background-color: #404040;
  color: #E2E2E2;
}

.accordion-button:focus, .purple:focus {
  box-shadow: 0 0 0 0.3rem rgba(127, 117, 182, 0.25);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%237f75b6'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.modal {
  background-color: rgba(48, 48, 48, 0.8);
}

.modal-content {
  background-color: #303030;
}

.transparent-background{
  background: rgba(255, 255, 255, .005);
}

.transparent-background-color{
  background: rgba(255, 255, 255, .005);
}

.new {
  fill: #7f75b6;
}