:root {
  --theme-color: #7f75b6;
  --theme-color-hover: #7367b4;
  --theme-color-secondary: #494852;
  --subtitle: #e3ecf8;
  --box-color: #404040;
  --box-color-hover: #444444;
  --border-color: #383838;
  --text-color: #E2E2E2;
}

body {
  color: var(--text-color);
  background: #303030;
}

a {
  color: #92caff;
}

.top-bar {
  background-color: #303030;
  border-bottom: 0.5px solid #383838;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: #F2F2F2;
}

.atribuicoes:hover {
  color: #d1d0d0;
}

.tabs {
  background-color: #3b3b3b;
  box-shadow: 0 0 1px 0 rgba(166, 166, 166, 0.05), 0 6px 12px 0 rgba(166, 166, 166, 0.05);
}

input[type="radio"]:checked+label>.notification {
  background-color: var(--theme-color);
  color: #fff;
}

.section-title h2 {
  color: #909090;
}

.section-title h2::before {
  background: #A6A6A6;
}

#conversao {
  color: var(--subtitle);
}

.gastos-card {
  border: 1px solid #414040;
  background-color: #3b3b3b;
  box-shadow: 0px 5px 90px 0px rgba(166, 166, 166, 0.05);
}

.gastos-card.container-mode {
  box-shadow: 0 8px 24px rgba(166, 166, 166, 0.05);
}

.gastos-subtitulo,
.total {
  color: var(--subtitle);
}

.tabela-titulo-esquerda {
  color: var(--subtitle);
}

.tabela-titulo-direita {
  color: var(--subtitle);
}

#preloader {
  background: #303030;
}

#preloader:before {
  border: 6px solid var(--theme-color);
  border-top-color: #303030;
  border-bottom-color: #303030;
}

.btn-theme,
.btn-basic:hover,
.btn-basic:focus {
  background: var(--theme-color);
}

.btn-theme:hover,
.btn-theme:focus {
  background: var(--theme-color-hover);
}

.message-container,
.input-container {
  background: #303030;
}

.pin-input {
  border: 1px solid #414040;
  background: #3b3b3b;
  color: var(--text-color);
}

.pin-input-invalid {
  color: #ffffff;
  background: #463838;
  border-color: #403434;
}

.pin {
  color: #ffffff;
}

/* Language Selector */

.lang-selector {
  position: relative;
}

.lang-button {
  color: #F2F2F2;
}

.lang-options {
  background: #303030;
  border: 1px solid #404040;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.lang-options button {
  color: #F2F2F2;
}

.lang-options button:hover {
  background: #3b3b3b;
}