:root {
  --roxo: #7f75b6;
  --primary-color: #7f75b6;
  --secondary-color: #D5D6E9;
}

body {
  color: #E2E2E2;
  background: #303030;
}

a {
  color: #92caff;
}

.top-bar {
  background-color: #303030;
  border-bottom: 0.5px solid #383838;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: #F2F2F2;
}

.tabs {
  background-color: #3b3b3b;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
}

input[type="radio"]:checked+label>.notification {
  color: #fff;
}

.section-title h2 {
  color: #909090;
}

.section-title h2::before {
  background: #A6A6A6;
}

#conversao {
  color: #4B5563;	
}

.gastos-card {
  box-shadow: 0px 5px 90px 0px rgba(166, 166, 166, 0.05);
}

.gastos-subtitulo,
.total {
  color: #4B5563;
}

.tabela-titulo-esquerda {
  color: #4B5563;
}

.tabela-titulo-direita {
  color: #4B5563;
}

#preloader {
  background: #303030;
}

#preloader:before {
  border: 6px solid #7F75B9;
  border-top-color: #303030;
  border-bottom-color: #303030;
}

.message-container,
.input-container {
  background: #303030;
}

input {
  border: 1px solid #414040;;
  background: #3b3b3b;
}

.pin {
  color: #ffffff;
}