:root {
  --roxo: #5859a7;
  --primary-color: #5859a7;
  --secondary-color: #e6eef9;
  --background-mensagens: #fff;
}

@font-face {
  font-family: 'Chelos';
  src: url('../../fonts/Chelos\ Free.ttf') format('truetype');
}

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  transition: all 0.3s;
}

a {
  color: #3d85c6;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.top-bar {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 60px;
  border-bottom: 0.5px solid #D9D9D9;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
}

#logo-light,
#logo-dark {
  height: 25px;
  margin-left: 20px;
}

#trip-viewer-text {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 7px;
  font-family: Chelos;
  color: #5859a7;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.icons-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-buttons {
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin: 0 7px 0 7px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #4F5051;
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}

#footer #footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin-bottom: 20px;
  margin-top: -20px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #5859a7;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #5859a7;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

/*--------------------------------------------------------------
# Tabs
--------------------------------------------------------------*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

.tabs-container {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-items {
  align-items: flex-start;
  justify-content: flex-start;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
  transform: scale(0.6);
}

.tabs * {
  z-index: 2;
}

input[type="radio"] {
  display: none;
}

.tab,
.tab-mini {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.tab-mini {
  width: 100px;
}

input[type="radio"]:checked+label {
  color: var(--primary-color);
}

input[type="radio"]:checked+label>.notification {
  background-color: var(--primary-color);
  color: #fff;
}

input[id="radio-resumo"]:checked~.glider {
  transform: translateX(0);
}

input[id="radio-gastosPrevios"]:checked~.glider {
  transform: translateX(100%);
}

input[id="radio-gastosDurante"]:checked~.glider {
  transform: translateX(200%);
}

.glider,
.glider-mini {
  position: absolute;
  display: flex;
  height: 54px;
  width: 200px;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

.glider-mini {
  width: 100px;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #4F5051;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #5859a7;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

.gastos-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  padding-top: 1rem;
}

.gastos-card {
  border: 0.5px solid #f0f0f0;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.card-full-size {
  width: 100%;
}

.gastos-recibo {
  grid-column: span 12;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

/* Media query for large screens */
@media (min-width: 1024px) {
  .gastos-recibo {
    grid-column: span 4;
  }
}

.grafico-pizza {
  padding: 1.5rem;
  grid-column: span 12 / span 12;
  border-radius: 0.5rem;
}

@media (min-width: 1024px) {
  .grafico-pizza {
    grid-column: span 4 / span 4;
  }
}

.gastos-titulo {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.gastos-subtitulo {
  font-weight: bold;
  color: #4B5563;
}

.tabela-titulo-esquerda {
  text-align: left;
  color: #4B5563;
}

.tabela-titulo-direita {
  text-align: right;
  color: #4B5563;
}

.tabela-texto-esquerda,
.tabela-texto-direita {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.tabela-texto-direita {
  text-align: right;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader,
#preloader-viagens,
#preloader-destinos,
#preloader-listagens {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
}

#preloader {
  background: #fff;
}

#preloader:before,
#preloader-viagens:before,
#preloader-destinos:before,
#preloader-listagens:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #5B509E;
  border-top-color: #f7f8f9;
  border-bottom-color: #f7f8f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

#preloader:before {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Botões
--------------------------------------------------------------*/

.button-box,
.button-box-right {
  text-align: right;
}

.btn-format {
  margin: 5px;
}

.btn-format:first-child {
  margin-left: 0;
}

.btn-format:last-child {
  margin-right: 0;
}

.icon-buttons {
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin: 0 7px 0 7px;
}

.btn-basic {
  border-width: 2px;
  border-style: solid;
  border-color: var(--roxo);
  color: var(--roxo);
  background: none;
}

.btn-purple,
.btn-basic:hover,
.btn-basic:focus {
  background: var(--roxo);
  color: #fff;
}

.btn-purple:hover,
.btn-purple:focus {
  background: #505197;
  color: #fff;
}

/*--------------------------------------------------------------
# Botões
--------------------------------------------------------------*/

.message-container,
.input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  overflow-wrap: break-word;
}

@media (max-height: 730px) {
  .input-container {
    display: block;
    height: 95% !important;
    overflow: auto;
  }
}

.message-container {
  text-align: center;
}

.message-text-container {
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
}

.message-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.error-message {
  margin-top: 10px;
}

@media (max-width: 520px) {

  .message-container,
  .input-container {
    width: 90%;
    height: auto;
  }
}


/*--------------------------------------------------------------
# Pin (Anshul Kumar https://codepen.io/the_anshulkumar/pen/RKzYKj)
--------------------------------------------------------------*/
.pin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

input {
  width: 44px;
  height: 44px;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  outline: none;
  margin: 1px;
  text-align: center;
  margin: 0 5px;
  background: #eeeeee;
  font-size: 20px;
}

.pin {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  display: none;
}