/*--------------------------------------------------------------
# Swiper Overrides
--------------------------------------------------------------*/

.swiper-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	min-width: max-content;
	gap: 200px;
}

.swiper-pagination {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: static !important;
	/* Keeps pagination inside flex container */
	width: auto !important;
	/* Let it adapt dynamically */
}

.swiper-button-prev,
.swiper-button-next {
	position: static !important;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #4f5051;
	font-size: 18px;
	cursor: pointer;
	flex-shrink: 0;
	/* Prevents resizing */
}

.swiper-button-prev::after,
.swiper-button-next::after {
	font-size: 16px;
}

@media (max-width: 992px) {
	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}
}

/* Portfolio details swiper pagination */
.portfolio-details .portfolio-details-slider .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.portfolio-details
	.portfolio-details-slider
	.swiper-pagination
	.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid var(--theme-color);
}

.portfolio-details
	.portfolio-details-slider
	.swiper-pagination
	.swiper-pagination-bullet-active {
	background-color: var(--theme-color);
}

.swiper-pagination-bullet-active {
	background-color: var(--theme-color);
}

/* Testimonials swiper */
.testimonials .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid var(--theme-color);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
	background-color: var(--theme-color);
}
